.footer {

    /* position: absolute;
    left: 0;
    margin: 0 3rem;

    margin: 3rem 0;
    width: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu__footer__list {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
}

.menu__footer__icon {
    width: 20vw;
    min-width: 30px;
    max-width: 100px;
    height: auto;
    max-height: 75px;
    margin: 2rem 2rem 0rem 2rem;
}