.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 10rem; */
    border: 1px solid white;

}

.projects__list__item {

    justify-items: center;
    /* flex-basis: calc(25% - 20px); */

    margin: 4rem;

    /* max-width: 405px;
    min-width: 100px;
    width: 100vw; */
    /* width: 10px; */

    width: 50vw;
    max-width: 350px;
    /* height: 44vh; */
    /* background-color: #4f4f4f; */
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__list__item__image {
    /* width: 100%; */
    border-radius: 40px;
    width: 80vw;
    max-width: 400px;
}

.project__list__card__text {
    text-align: center;
    /* margin-top: 16%; */
    color: white;

}

.project__list__card {
    width: 100%;
    height: 100px;
    font-size: 20px;
    color: black;
    /* top: 0; */
    /* left: 0;  */
    transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
    /* position: absolute; */
    /* opacity: 0; */

    /* overflow: hidden; */
}

.project__list__info {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    line-height: normal;
    color: aliceblue;
    position: absolute;
    top: 0;
    /* opacity: 0; */

    display: none;
}

/* .project__list__item__image:hover {
    filter: blur(5px);
} */

.project__list__card__info__description {
    width: 100%;
}

/* The image opacity */

.projects__list__item:hover .project__list__item__image {
    opacity: 0.2;
}

/* The card up 280% */

.projects__list__item:hover .project__list__card {
    transform: translateY(-280%);
}

/* The info with the title and description */
.projects__list__item:hover .project__list__info {
    display: flex;
}

/* First stpwatch title text */
.projects__list__item:hover .project__list__card__text {
    display: none;
}