@import "../css/css-components/Menu.css";
@import "../css/css-components/Button.css";
@import "../css/css-components/Intro.css";

:root {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(19, 25, 33);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}